[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule ".vim/bundle/lightline"]
	path = .vim/bundle/lightline
	url = https://github.com/itchyny/lightline.vim.git
	ignore = dirty
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
	ignore = dirty
[submodule ".vim/bundle/csv"]
	path = .vim/bundle/csv
	url = https://github.com/chrisbra/csv.vim.git 
	ignore = dirty
[submodule ".vim/bundle/vim-tmux-navigator"]
	path = .vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
	ignore = dirty
